body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

// g-recaptcha
.g-recaptcha{
  // @media(min-width: 1365px){
  //   transform:scale(0.85);
  //   -webkit-transform:scale(0.85);
  //   transform-origin:0 0;
  // }

  @media(max-width: 1200px){
    transform:scale(0.65);
    -webkit-transform:scale(0.65);
    transform-origin:0 0;
  }

  @media(max-width: 767px){
    transform:scale(0.85);
    -webkit-transform:scale(0.85);
    transform-origin:0 0;
  }
}


@media(min-width: 1580px){
  .container{
    max-width: 1385px;
  }
}

.pro-account{
  .container-fluid{
    width: 100%;
    max-width: 1580px !important;
  }
}


.profile{
  .container{
    max-width: 1580px !important;

    .col-md-2{
      width: 21%;
      padding: 0;

      @media(max-width: 1199px){
        width: 31.25%;
      }

        @media(max-width: 767px){
        width: 100%;
      }
    }

    .col-md-10{
      width: 79%;
      max-width: 1250px;
      padding: 0;


      @media(max-width: 1199px){
        width: 68.75%;
      }

      @media(max-width: 767px){
        width: 100%;
      }

      .col-xl-9{
        width: 70%;
        padding-left: 20px;

        @media(max-width: 1199px) {
          width: 100%;  
        }
      }

      .col-xl-3{
        width: 30%;
        max-width: 400px;
        padding: 20px;
      }
    }    
  }
}