@font-face {
   font-family: "MyriadproRegular";
   src: url(../fonts/MYRIADPRO-REGULAR.woff);
}


h1, h2, h3, h4, h5, h6{
   font-family: "MyriadproRegular";
   font-size: 25px;

   @media(max-width: 1200px){
      font-size: 20px;
   }

   @media(max-width: 767px){
      font-size: 15px;
   }
}

p{
   font-family: "MyriadproRegular";
   font-size: 15px;

   @media(max-width: 767px){
      font-size: 12px;
   }
}