.connection-pro{
   padding: 50px 0;

   @media(max-width: 1200px){
      padding: 35px 0;
   }

   @media(max-width: 1200px){
      padding: 20px 0;
   }

   .section-header{
      padding-bottom: 25px;
   }

   .account-connection-info{
      border: 1px solid #cccbd2;

      .info-header{
         background: #4abcf5;

         h3{
            text-align: center;
            padding: 15px 0; 
            color: #fff;
         }
      }

      .info-body{
         padding: 25px;

         p{
            padding-bottom: 15px;   
         }
      }


      .input-group{
         border: 1px solid #ced4da;
         border-radius: 5px;
         background: #fffcc8;


         .form-control, .input-group-text{
            background: rgba(255, 255, 255, 0);
            border: 0;

            &:focus{
               box-shadow: none;
               border: none;
            }
         }

         .eye{
            cursor: pointer;
            opacity: 0.7;
         }
      }
   }
}